<html>
<head>
<title>Controle de Frete</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       	<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type='text/javascript' src="GerenciarFrete.module.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SISLOGIS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GERENCIAR
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="../../gerenciar/gerenciamentoDevolucoes/GerenciarDevolucao.template.html">GERENCIAR DEVOLUÇÃO</a></li>
          <li><a href="../../gerenciar/gerenciamentoEntregas/GerenciarEntregas.template.html">GERENCIAR ENTREGAS</a></li>
          <li><a href="GerenciarFrete.template.html">GERENCIAR FRETE</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class = "col-sm-4  col-md-offset-4" ng-app="GerenciarFrete.module">
	<h1>Controle de Tarifas</h1>
	
	<div ng-controller = "crudtarifa">
		<div class="alert alert-success alert-dismissible" ng-show="sucesso" >
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{mensagemSucesso}}
		</div>
		<div class="form-group" ng-submit="pesquisartarifas()">
			<form>
				Descrição Tarifa:<input class="form-control" type="text" ng-model="descTarifa" placeholder="Descrição Tarifa"/> <br>
				Valor Tarifa:<input class="form-control" type="number" ng-model="valorTarifa" placeholder="Valor Tarifa"/>
			</form>
			<div align="rigth">
				<button ng-click="pesquisartarifas()" class="btn btn-primary">Buscar</button>
				<button type="button" class="btn btn-success" ng-click="incluirtarifa()">Incluir</button>
			</div>
		</div>
		<div>
			Resultado:<br>
			<table ng-table="tableParams" class="table" show-filter="true">
				<thead>
					<tr>
						<th>Id Tarifa</th>
						<th>Descrição</th>
						<th>Valor</th>
						<th>Alterar</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tarifa in listaTarifa">
						<td class="text-center" >{{tarifa.idTarifa}}</td>
						<td class="text-center">{{tarifa.descTarifa}}</td>
						<td class="text-center">{{tarifa.valorTarifa | currency:"R$"}}</td>
						<td><button type="button" ng-click="alterartarifa(tarifa)" class="btn btn-warning btn-xs">Alterar</button></td>
						<td><button class="btn btn-danger btn-xs" ng-click="excluirtarifa(tarifa)">Excluir</button></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="modal fade" id="modalTarifa" tabindex="-1" role="dialog" aria-labelledby="modalTarifaLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		    	<form name="tarifaForm" ng-submit="enviarFormulario()"  method="post">
			      <div class="modal-header">
			        <h5 class="modal-title" id="modalTarifaLabel">{{tituloModal}}</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      
				   <div class="modal-body">
				      Descrição Tarifa:<input class="form-control" type="text" ng-model="descTarifaModal" placeholder="Descrição Tarifa"/> <br>
					  Valor Tarifa:<input class="form-control" type="number" ng-model="valorTarifaModal" placeholder="Valor Tarifa"/>
				   </div>
				   <div class="modal-footer">
			         <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			         <button type="submit" class="btn btn-primary">{{acao}}</button>
			     	</div>
		      </form>
		    </div>
		  </div>
		</div>
	</div>
	</div>
</body>