<html>
<head>
<title>Controle de Frete</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type='text/javascript'
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript'
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type='text/javascript' src="GerenciarFrete.module.js"></script>
<script type='text/javascript' src="../lib/js/dirPagination.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet"	href="../lib/css/app.css">
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SISLOGIS</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="../../login.html">SAIR</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">GERENCIAR <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a
							href="../../gerenciar/gerenciamentoDevolucoes/GerenciarDevolucao.template.html">GERENCIAR
								DEVOLUÇÃO</a></li>
						<li><a
							href="../../gerenciar/gerenciamentoEntregas/GerenciarEntregas.template.html">GERENCIAR
								ENTREGAS</a></li>
						<li><a href="GerenciarFrete.template.html">GERENCIAR
								FRETE</a></li>
					</ul></li>
			</ul>
		</div>
	</nav>

	<div ng-app="GerenciarFrete.module">
		<div ng-controller="crudtarifa" data-ng-init="pesquisartarifas()">
			<div class="col-sm-4  col-md-offset-4">
				<h1>Controle de Tarifas</h1>
				<div class="alert alert-success alert-dismissible" ng-show="sucesso" role="alert">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					{{mensagemSucesso}}
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<form>
							<div class="form-group col-md-6">
								<label for="descTarifa"> Descrição Tarifa:</label> <input
									class="form-control" type="text" ng-model="descTarifa"
									placeholder="Descrição Tarifa" ng-change="pesquisartarifas()" />
							</div>
							<div class="form-group col-md-6">
								<label for="valorTarifa">Valor Tarifa:</label> <input
									class="form-control" type="number" ng-model="valorTarifa"
									placeholder="Valor Tarifa" ng-change="pesquisartarifas()" />
							</div>
								<div class="form-group">
									<div class="form-group col-md-6">
										<button type="button" class="btn btn-success btn-block"
											ng-click="incluirtarifa()">Incluir</button>
									</div>
									<div class="form-group col-md-6">
										<button type="button" class="btn btn-success btn-block"
											ng-click="listartarifas()">Simular</button>
									</div>
								</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-7  col-md-offset-3">
				Resultado:<br>
				<table ng-table="tableParams" class="table table-striped" show-filter="true">
					<thead class="thead-light">
						<tr>
							<th class="text-center" ng-click="sort('idTarifa')">Id Tarifa
								<span class="glyphicon sort-icon" ng-show="sortKey=='idTarifa'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th class="text-center" ng-click="sort('descTarifa')">Descrição
								<span class="glyphicon sort-icon" ng-show="sortKey=='descTarifa'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</th>
							<th class="text-center" ng-click="sort('valorTarifa')">Valor
								<span class="glyphicon sort-icon" ng-show="sortKey=='valorTarifa'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}">
							</th>
							<th class="text-center">Alterar</th>
							<th class="text-center">Excluir</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="tarifa in listaTarifa|orderBy:sortKey:reverse|itemsPerPage:5">
							<td class="text-center">{{tarifa.idTarifa}}</td>
							<td class="text-center">{{tarifa.descTarifa}}</td>
							<td class="text-center">{{tarifa.valorTarifa |
								currency:"R$"}}</td>
							<td class="text-center"><button type="button"
									ng-click="alterartarifa(tarifa)" class="btn btn-warning btn-xs">Alterar</button></td>
							<td class="text-center"><button
									class="btn btn-danger btn-xs" ng-click="excluirtarifa(tarifa)">Excluir</button></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<dir-pagination-controls
			       max-size="5"
			       direction-links="true"
			       boundary-links="true" >
			    </dir-pagination-controls>
			</div>

			<div class="modal fade" id="modalTarifa" tabindex="-1" role="dialog"
				aria-labelledby="modalTarifaLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form name="tarifaForm" ng-submit="enviarFormulario()"
							method="post">
							<div class="modal-header">
								<h5 class="modal-title" id="modalTarifaLabel">{{tituloModal}}</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								Descrição Tarifa:<input class="form-control" type="text"
									ng-model="descTarifaModal" placeholder="Descrição Tarifa" /> <br>
								Valor Tarifa:<input class="form-control" type="number"
									ng-model="valorTarifaModal" placeholder="Valor Tarifa" />
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Fechar</button>
								<button type="submit" class="btn btn-primary">{{acao}}</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modalSimulacao" tabindex="-1" role="dialog"
				aria-labelledby="modalTarifaLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form name="tarifaForm" ng-submit="enviarFormulario()"
							method="post">
							<div class="modal-header">
								<h5 class="modal-title" id="modalTarifaLabel">Simular Tarifas</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								<label for="situacao">Situação</label>
							      <select class="form-control" ng-model="situacao" ng-options="tarifa.descTarifa as tarifa.descTarifa for situacao in listaTarifa">
							      	<option value="">SELECIONE</option>
							      </select>

								Valor Tarifa:<input class="form-control" type="number"
									ng-model="valorTarifaModal" placeholder="Valor Tarifa" />
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Fechar</button>
							</div>
						</form>
					</div>
				</div>
			</div>



		</div>
	</div>
</body>