<html>
<head>
<title>Gerenciar Devolucao</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       	<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type='text/javascript' src="GerenciarDevolucao.module.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SISLOGIS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GERENCIAR
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="../../gerenciar/gerenciamentoDevolucoes/GerenciarDevolucao.template.html">GERENCIAR DEVOLUÇÃO</a></li>
          <li><a href="../../gerenciar/gerenciamentoEntregas/GerenciarEntregas.template.html">GERENCIAR ENTREGAS</a></li>
          <li><a href="../../gerenciar/gerenciamentoFretes/GerenciarFrete.template.html">GERENCIAR FRETE</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class = "col-sm-4  col-md-offset-4" ng-app="GerenciarDevolucao.module">
	<h1>Gerenciar Devoluções</h1>
	<form class="form-group">
		Pedido: <input class="form-control" type="text" name="pedido"/> <br/>
		Data Entrega: <input class="form-control" type="date" name="dataEntrega"/> <br/>
		Produto: <input class="form-control" type="text" name="produto"> </br>
		Valor: <input class="form-control" type="text" name="valor"> </br>
		Motivo Devolução: <textarea class="form-control" name="motivo"> </textarea>
	</form>
	<button type="button" class="btn btn-success">Incluir</button>

  <div class="modal fade" id="modalDevolucao" tabindex="-1" role="dialog" aria-labelledby="modalDevolucaoLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form name="tarifaForm" ng-submit="enviarFormulario()"  method="post">
            <div class="modal-header">
              <h5 class="modal-title" id="modalDevolucaoLabel">{{tituloModal}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
           <div class="modal-body">
              Descrição Devolucao:<input class="form-control" type="text" ng-model="descDevolucaoModal" placeholder="Descrição Devolucao"/> <br>
              Valor Devolucao:<input class="form-control" type="number" ng-model="valorDevolucaoModal" placeholder="Valor Devolucao"/>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
               <button type="submit" class="btn btn-primary">{{acao}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

</div>
</body>