<html>
<head>
<title>Gerenciar Devolucao</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="GerenciarDevolucao.module.js"></script>
    <script type='text/javascript' src="../lib/js/dirPagination.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body>

	<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SISLOGIS</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="../../login.html">SAIR</a></li>
        <li class="dropdown"><a class="dropdown-toggle"
          data-toggle="dropdown" href="#">GERENCIAR <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a
              href="../../gerenciar/gerenciamentoDevolucoes/GerenciarDevolucao.template.html">GERENCIAR
                DEVOLUÇÃO</a></li>
            <li><a
              href="../../gerenciar/gerenciamentoEntregas/GerenciarEntregas.template.html">GERENCIAR
                ENTREGAS</a></li>
            <li><a href="../../gerenciar/gerenciamentoFretes/GerenciarFrete.template.html">GERENCIAR
                FRETE</a></li>
          </ul></li>
      </ul>
    </div>
  </nav>

	<div ng-app="GerenciarDevolucao.module">
		<div ng-controller="cruddevolucao"
			data-ng-init="pesquisardevolucoes()">
			<div class="col-sm-6  col-md-offset-3">
				<h1>GERENCIAR DEVOLUÇÕES</h1>
        <div class="alert alert-success" ng-show="sucesso">
           <button type="button" class="close" data-ng-click="switchBool('sucesso')" >×</button>
            {{mensagemSucesso}}
         </div>
				<div class="panel panel-default">
					<div class="panel-body">
						<form>

							<div class="form-group col-md-4">
								<label for="pedido">Pedido:</label> <input class="form-control"
									type="text" name="numPedido" ng-model="numPedido"
									ng-change="pesquisardevolucoes()" />
							</div>

							<div class="form-group col-md-4">
								<label for="dataPedidoMin">Data Pedido Min:</label> <input
									class="form-control" type="date" name="dataPedidoMin"
									ng-model="dataPedidoMin" ng-change="pesquisardevolucoes()" />
							</div>

							<div class="form-group col-md-4">
								<label for="dataPedido">Data Pedido Max: </label> <input
									class="form-control" type="date" name="dataPedidoMax" ng-model="dataPedidoMax"
									ng-change="pesquisardevolucoes()" />
							</div>

              <div class="form-group col-md-4">
               
              </div>

              <div class="form-group col-md-4">
                <label for="valorPedidoMin">Valor Min:</label> <input
                  class="form-control" type="number" name="valorPedidoMin"
                  ng-model="valorPedidoMin" ng-change="pesquisardevolucoes()" />
              </div>

              <div class="form-group col-md-4">
                <label for="valorPedidoMax">Valor Max: </label> <input
                  class="form-control" type="number" name="valorPedidoMax" ng-model="valorPedidoMax"
                  ng-change="pesquisardevolucoes()" />
              </div>

							<div class="text-right">
								<div class="form-group col-md-4">
									<button type="button" class="btn btn-success btn-block"
										ng-click="incluirdevolucao()">Registrar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-9  col-md-offset-2">
				Devoluções Registradas:<br>
				<table class="table table-striped" class="table" show-filter="true">
					<thead>
						<tr>
							<th class="text-center" ng-click="sort('numPedido')">Num Pedido
                <span class="glyphicon sort-icon" ng-show="sortKey=='numPedido'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
							<th ng-click="sort('descProduto')">Produto
                <span class="glyphicon sort-icon" ng-show="sortKey=='descProduto'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
							<th ng-click="sort('valor')">Valor
                <span class="glyphicon sort-icon" ng-show="sortKey=='valor'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
							<th class="text-center" ng-click="sort('dataPedido')">Data Pedido
                <span class="glyphicon sort-icon" ng-show="sortKey=='dataPedido'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
							<th ng-click="sort('cliente')">Cliente
                <span class="glyphicon sort-icon" ng-show="sortKey=='cliente'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="devolucao in listaDevolucao|orderBy:sortKey:reverse|itemsPerPage:5">
							<td class="text-center">{{devolucao.numPedido}}</td>
							<td>{{devolucao.descProduto}}</td>
							<td>{{devolucao.valorProduto | currency:"R$"}}</td>
							<td class="text-center">{{devolucao.dataPedido}}</td>
							<td>{{devolucao.nomeCliente}}</td>
							<td></td>
						</tr>
					</tbody>
				</table>
          <dir-pagination-controls
             max-size="5"
             direction-links="true"
             boundary-links="true" >
          </dir-pagination-controls>
			</div>

			<div class="modal fade" id="modalDevolucao" tabindex="-1"
				role="dialog" aria-labelledby="modalDevolucaoLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form name="devolucaoForm" ng-submit="enviarFormulario()"
							method="post">
							<div class="modal-header">
								<h5 class="modal-title" id="modalDevolucaoLabel">{{tituloModal}}</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">

								<div class="form-row">
									<div class="form-group">
										<label for="numPedido">Número do pedido:</label>
										<input class="form-control" type="number"
											ng-model="numPedidoModal" ng-change="pesquisarpedidopornum()"
											placeholder="Númerdo do pedido" />
									</div>

									<div class="form-group">
										<label for="descProduto">Produto:</label>
										<input class="form-control" type="text" name="pedido.descProduto"
											ng-model="pedido.descProduto" placeholder="Produto" readonly />
									</div>

									<div class="form-group">
										<label for="dataPedido">Data do pedido:</label>
										<input class="form-control" type="text"
											name="pedido.dataPedido" ng-model="pedido.dataPedido"
											placeholder="Data do pedido" readonly /> 
									</div>

									<div class="form-group">
										<label for="motDevolucao">Motivo Devolução:</label>
										<textarea class="form-control" name="motivo"
										ng-model="pedido.descMotivo"> </textarea>
									</div>
								</div>
								
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Fechar</button>
								<button type="submit" class="btn btn-primary">{{acao}}</button>
							</div>

						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>