<html>
<head>
<title>Gerenciar Etapas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       	<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type='text/javascript' src="GerenciarEntregas.module.js"></script>
		<script type='text/javascript' src="../lib/js/dirPagination.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SISLOGIS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="../../login.html">SAIR</a></li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">GERENCIAR
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="../../gerenciar/gerenciamentoDevolucoes/GerenciarDevolucao.template.html">GERENCIAR DEVOLUÇÃO</a></li>
          <li><a href="../../gerenciar/gerenciamentoEntregas/GerenciarEntregas.template.html">GERENCIAR ENTREGAS</a></li>
          <li><a href="../../gerenciar/gerenciamentoFretes/GerenciarFrete.template.html">GERENCIAR FRETE</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div ng-app="GerenciarEntregas.module">
  <div ng-controller="acompanhamentoEntrega" data-ng-init="pesquisarentregas(); listarsituacaoentrega(); listartransportadora()">
	<div class = "col-sm-9  col-md-offset-2">
	<h1>Gerenciamento de Entregas</h1>
	<div class="panel panel-default">
		 <div class="panel-body">
			<form class="needs-validation" novalidate>
				  <div class="form-row">
				  	<div class="form-group">
					    <div class="col-md-4 mb-3">
					      <label for="pedido">Número do pedido</label>
					      <input type="number" ng-model="numPedido" ng-change="pesquisarentregas()" class="form-control" placeholder="Número do pedido">
					     </div>
				    </div>

				    <div class="form-group">
					    <div class="col-md-4 mb-3">
					      <label for="transportadora">Transportadora</label>
					      <select ng-options="transportadora.nomeTransportadora as transportadora.nomeTransportadora for transportadora in listaTransportadora" ng-model="transportadora" class="form-control"  ng-change="pesquisarentregas()">
					      	<option value="">SELECIONE</option>
					      </select>
					    </div>
				    </div>

				    <div class="form-group">
					    <div class="col-md-4 mb-3">
					     <label for="etapa">Data do pedido</label>
					      <input type="date" ng-model="dataPedido" class="form-control" ng-change="pesquisarentregas()">
					    </div>
					</div>

				  </div>
				  <div class="form-row">
				      <div class="form-group">
					    <div class="col-md-4 mb-3">
					      <label for="produto">Produto</label>
					      <input type="text" class="form-control" ng-model="descProduto" placeholder="Produto" ng-change="pesquisarentregas()">
				        </div>
				    </div>

				    <div class="form-group">
					    <div class="col-md-4 mb-3">
					      <label for="situacao">Situação</label>
					      <select class="form-control" ng-model="situacao" ng-options="situacao.descSituacaoEntrega as situacao.descSituacaoEntrega for situacao in listaSituacaoEntrega" ng-change="pesquisarentregas()">
					      	<option value="">SELECIONE</option>
					      </select>
					    </div>
				    </div>

				    <div class="form-group">
				    <div class="col-md-4 ">
				      <label for="cliente">Cliente</label>
				      <input class="form-control" ng-model="nomeCliente" placeholder="Cliente" ng-change="pesquisarentregas()">
				    </div>  
				    </div>
				  </div>
		</form>
		</div>
	</div>
	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th class="text-center" ng-click="sort('numPedido')">Num Pedido
					<span class="glyphicon sort-icon" ng-show="sortKey=='numPedido'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('nomeTransportadora')">Nome Tranportadora
					<span class="glyphicon sort-icon" ng-show="sortKey=='nomeTransportadora'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('dataEntregaPrevista')">Data Prevista
					<span class="glyphicon sort-icon" ng-show="sortKey=='dataEntregaPrevista'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('situacaoEntrega')">Situação
					<span class="glyphicon sort-icon" ng-show="sortKey=='situacaoEntrega'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('nomeCliente')">Nome Cliente
					<span class="glyphicon sort-icon" ng-show="sortKey=='nomeCliente'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr dir-paginate="entrega in listaEntrega|orderBy:sortKey:reverse|itemsPerPage:5">
				<td class="text-center">{{entrega.pedido.idPedido}}</td>
				<td>{{entrega.transportadora.nomeTransportadora}}</td>
				<td class="text-center">{{entrega.dataEntregaPrevista}}</td>
				<td>{{entrega.situacaoEntrega.descSituacaoEntrega}}</td>
				<td>{{entrega.pedido.cliente.nomeCliente}}</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
             max-size="5"
             direction-links="true"
             boundary-links="true" >
          </dir-pagination-controls>
	</div>
  </div>
 </div>
</body>